extends layout
block title 
    title #{title}

block content
    h1 #{title}
    p #{message}
        p #{error}
    br
    //- Inserting 'Home' button to add navigation back to index upon 404 error
    p
        a(class = 'button' href='/') Home 