body {
  padding: 10px 50px 50px;
  font: 18px "Raleway", sans-serif;
  background-color: #e3e5e3;
}

a {
  color: #4f7978;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit], button {
  color: white;
  background: #275039;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 1.5em;
  cursor: pointer;
}

form a.button,
input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover, button:hover {
    background-color: #4f7978;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #f9b299;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #eee;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input, select {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.fancy{
  min-height: 142px;
  min-width: 100%;
  background-image: url('../images/book_coffee.jpg');
  border-radius: 1.5em 1.5em 0em 0em;
}

.pages {
  display:inline;
  margin: 3px;
  padding: 1.5px;
}

.numbers {
  border-bottom: 2px solid #f9b299;
}

header {
  border-bottom: 2px solid #f9b299;
  border-top: 2px solid #f9b299;
  background-color: #4f7978;
  color: white;
  text-align:center;
  border-radius: 0em 0em 1.5em 1.5em;
}

svg.search-icon {
  padding: 0px;
  margin: 0px;
}

button.search-button {
  padding-left:3px;
  padding-top:0px;
  padding-right:8px;
  padding-bottom:8px;
  margin: 0px;
  border-radius: 0em 1.5em 1.5em 0em;
}

#searchText {
  border-radius: 1.5em 0em 0em 1.5em;
}

.active {
  border-bottom-color: black;
}